<% include ./partials/header.ejs %>

<div class="container pad-top">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1>My Blog</h1>
      <a class="new-post btn btn-primary" href="/new">Create New Transaction</a>

<% transactions.forEach(function (transaction) {%>

      <div>
        <h2><a href="/<%= transaction.doc._id %>"><%= transaction.doc.title %></a></h2>
        <p><%= transaction.doc.date %></p>
        <p><%= transaction.doc.sign %>$<%= transaction.doc.amount %></p>
      </div>
<% if ( Object.is((transaction.doc.sign),'+' )) {
  sumPos = sumPos + transaction.doc.amount;
}
else sumNeg = sumNeg + transaction.doc.amount;
})
%>
<h2> You have gotten $<%= sumPos %></h2>
<h2> You have spent $<%= sumNeg %></h2>






    </div>
  </div>
</div>

<% include ./partials/footer.ejs %>
